body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #023047;
    color: white;
    padding: 30px 20px;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    position: relative;
}

.login-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #fb8500;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    flex-wrap: wrap;
    gap: 10px;
}

select,
input[type="submit"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: white;
}

input[type="submit"] {
    background-color: #219ebc;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

input[type="submit"]:hover {
    background-color: #126782;
}

.obra {
    background-color: white;
    width: 90%;
    max-width: 800px;
    margin: 30px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
}

.obra:hover {
    transform: scale(1.01);
}

.obra img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


a {
    color: #0077b6;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Detalhes */
.detalhes-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1000px;
    margin: 30px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.titulo-detalhes {
    max-width: 1000px;
    margin: 40px auto 10px auto;
    padding-left: 20px;
}

.imagens {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

.imagens img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.info {
    padding: 10px;
    font-size: 1.1em;
    line-height: 1.6;
}
